.about {
    text-align: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium';
    font-style: italic;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 5%;
}